.body {
  background-color: rgba(252, 211, 77, 0.5);
}

.app::before {
  z-index: -100000;
  content: "";
  background-image: url('./assets/images/background.png');
  background-size: contain;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.5;
}
